# Flask framework
Flask>=2.3.3
python-dotenv>=1.0.0
gunicorn>=21.2.0

# Data libraries
numpy>=1.25.2
pandas>=2.1.0
scipy>=1.11.1
matplotlib>=3.8.0

# Optional database / ORM
sqlalchemy>=2.1.2
databases>=0.7.2

# HTTP utilities
requests>=2.32.0

# Paksa pre-built wheel untuk pandas & C-extension lainnya
--only-binary :all:
